@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            @{
                var isLoginPage = routeData.PageType.FullName?.EndsWith("Login") ?? false;
            }
            @if (isLoginPage)
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
            }
            else
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)" />
            }
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(AuthLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
